body {
    font-family: 'Poppins', sans-serif;
    background-color: #f3dfc6;
    color: #3e2723;
}
a, .anchor {
    display: inline-block;
    transform: scale(1); /* Set default explicitly */
    transition: transform 0.3s ease-in-out, color 0.3s ease-in-out;
    color: #9f6737 !important;
    font-weight: 500 ;
    font-size: 1.05rem;
}

a:hover,
.anchor:hover,
a:focus,
.anchor:focus {
    transform: scale(1.05);
    transition: 0.3s ease-in-out;
    color: #000000 !important;
}

/* This ensures scale(1) is applied smoothly when not hovered or focused */
a:not(:hover):not(:focus),
.anchor:not(:hover):not(:focus) {
    transform: scale(1);
    transition: transform 0.8s;
}

@media (hover: hover) {
    a:hover, .anchor:hover {
        transform: scale(1.05);
    }
}

.nav-link{
    text-decoration: dashed;
    color: #ffffff !important;

}

.nav-link:hover {
    text-decoration: underline;
    color: #000000 !important;
}

.navbar-custom {
    background-color: #e3c395;
    padding: 1rem 2rem;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
}

.navbar-brand {
    font-size: 1.8rem;
    font-weight: bold !important;
    color: #ffffff !important;
}

.navbar-nav .nav-link {
    color: #3e2723;
    font-weight: 500;
}

.navbar-nav .nav-link:hover {
    color: #6d4c41;
}

.card {
    background-color: #fff2e6;
    border: none;
    border-radius: 1rem;
}

.btn-primary {
    background-color: #ff7f50;
    border-color: #ff7f50;
}

.btn-primary:hover {
    background-color: #e0673e;
    border-color: #e0673e;
}

.form-control:focus {
    border-color: #ffb366;
    box-shadow: 0 0 0 0.2rem rgba(255, 179, 102, 0.25);
}

.alert {
    background-color: #ffe5d0;
    border: 1px solid #ffb380;
    color: #6a3e2a;
}

a {
    color: #d65a31;
    text-decoration: none;
}